:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.login-page {
  padding: 48px;
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #1e1f26;
}
.header {
  font-size: 64px;
  font-weight: 600;
  padding-bottom: 40px;
}
.loginform {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  gap: 8px;
  align-items: stretch;
}
.loginform > label {
  text-align: left;
  color: #9494b8;
  font-weight: 600;
  font-size: 16px;
}
.loginform > input {
  height: 24px;
  border: none;
  border-bottom: 1px solid grey;
  background-color: #1e1f26;
}
.loginform > button {
  border-radius: 16px;
  margin-top: 48px;
  padding-block: 16px;
  background-color: #292930;
}
/* ===================== */
.todoPage {
  width: 400px;
  height: 600px;
  padding: 48px;
  display: flex;
  flex-direction: column;
  background-color: #1e1f26;
  gap: 16px;
}
.myTodo {
  font-size: 64px;
  font-weight: 600;
}
.addTodo {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}
.addTodo__addBtn {
  padding: 0px;
  background-color: #1e1f26;
  color: #9494b8;
  font-weight: 600;
}
.addTodo__input {
  width: 100%;
  height: 24px;
  border: none;
  border-bottom: 1px solid grey;
  background-color: #1e1f26;
}

.todoList {
  display: flex;
  flex-direction: column;
}
.todoitem {
  display: flex;
  width: 100%;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
}

.todoitem__name {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.todoItem__name-checked {
  flex-grow: 1;
  text-decoration: line-through;
}

.todoitem__delBtn {
  background-color: #1e1f26;
  width: 20px;
}
.logoutBtn {
  border-radius: 16px;
  margin-top: 48px;
  padding-block: 16px;
  background-color: #292930;
}
